<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <juszczyk_pokemon_product>
            <general>
                <enabled>0</enabled>
                <api_url>https://pokeapi.co/api/v2</api_url>
            </general>
        </juszczyk_pokemon_product>
    </default>
</config>
