<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="juszczyk" sortOrder="900" translate="label">
            <label>Juszczyk</label>
        </tab>
        <section id="juszczyk_pokemon_product" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>juszczyk</tab>
            <label>Pokemon Product</label>
            <resource>Juszczyk_PokemonProduct::configuration</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>General</label>
                <field id="enabled" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>API Url</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>PokeAPI base url.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
